In [1]:
import pathlib

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

print(tf.__version__)

2.3.0

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving wine.data to wine.data
User uploaded file "wine.data" with length 10782 bytes

In [3]:
!head {fn}
dataset_path=fn

1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
1,13.2,1.78,2.14,11.2,100,2.65,2.76,.26,1.28,4.38,1.05,3.4,1050
1,13.16,2.36,2.67,18.6,101,2.8,3.24,.3,2.81,5.68,1.03,3.17,1185
1,14.37,1.95,2.5,16.8,113,3.85,3.49,.24,2.18,7.8,.86,3.45,1480
1,13.24,2.59,2.87,21,118,2.8,2.69,.39,1.82,4.32,1.04,2.93,735
1,14.2,1.76,2.45,15.2,112,3.27,3.39,.34,1.97,6.75,1.05,2.85,1450
1,14.39,1.87,2.45,14.6,96,2.5,2.52,.3,1.98,5.25,1.02,3.58,1290
1,14.06,2.15,2.61,17.6,121,2.6,2.51,.31,1.25,5.05,1.06,3.58,1295
1,14.83,1.64,2.17,14,97,2.8,2.98,.29,1.98,5.2,1.08,2.85,1045
1,13.86,1.35,2.27,16,98,2.98,3.15,.22,1.85,7.22,1.01,3.55,1045

In [4]:
column_names=['Type','Alcohol', 'Malic acid','Ash','Alcalinity of ash','Magnesium','Total phenols','Flavanoids','Nonflavanoid phenols','Proanthocyanins','Color intensity','Hue','OD280/OD315 of diluted wines','Proline']
raw_dataset = pd.read_csv(dataset_path, names=column_names,
                      na_values = "?", comment='\t',
                      sep=",", skipinitialspace=True)
dataset = raw_dataset.copy()
dataset.head()

   Type  Alcohol  Malic acid  ...   Hue  OD280/OD315 of diluted wines  Proline
0     1    14.23        1.71  ...  1.04                          3.92     1065
1     1    13.20        1.78  ...  1.05                          3.40     1050
2     1    13.16        2.36  ...  1.03                          3.17     1185
3     1    14.37        1.95  ...  0.86                          3.45     1480
4     1    13.24        2.59  ...  1.04                          2.93      735

[5 rows x 14 columns]

In [5]:
dataset.tail()

     Type  Alcohol  Malic acid  ...   Hue  OD280/OD315 of diluted wines  Proline
173     3    13.71        5.65  ...  0.64                          1.74      740
174     3    13.40        3.91  ...  0.70                          1.56      750
175     3    13.27        4.28  ...  0.59                          1.56      835
176     3    13.17        2.59  ...  0.60                          1.62      840
177     3    14.13        4.10  ...  0.61                          1.60      560

[5 rows x 14 columns]

In [ ]:
dataset.isna().sum()

Type                            0
Alcohol                         0
Malic acid                      0
Ash                             0
Alcalinity of ash               0
Magnesium                       0
Total phenols                   0
Flavanoids                      0
Nonflavanoid phenols            0
Proanthocyanins                 0
Color intensity                 0
Hue                             0
OD280/OD315 of diluted wines    0
Proline                         0
dtype: int64

In [6]:
oh=dataset.pop('Type')

In [7]:

dataset['Type 1']=(oh==1)*1
dataset['Type 2']=(oh==2)*1
dataset['Type 3']=(oh==3)*1

In [8]:
dataset

     Alcohol  Malic acid   Ash  ...  Type 1  Type 2  Type 3
0      14.23        1.71  2.43  ...       1       0       0
1      13.20        1.78  2.14  ...       1       0       0
2      13.16        2.36  2.67  ...       1       0       0
3      14.37        1.95  2.50  ...       1       0       0
4      13.24        2.59  2.87  ...       1       0       0
..       ...         ...   ...  ...     ...     ...     ...
173    13.71        5.65  2.45  ...       0       0       1
174    13.40        3.91  2.48  ...       0       0       1
175    13.27        4.28  2.26  ...       0       0       1
176    13.17        2.59  2.37  ...       0       0       1
177    14.13        4.10  2.74  ...       0       0       1

[178 rows x 16 columns]

In [9]:
train_dataset = dataset.sample(frac=0.8,random_state=0)
test_dataset = dataset.drop(train_dataset.index)

In [10]:
train_dataset

     Alcohol  Malic acid   Ash  ...  Type 1  Type 2  Type 3
54     13.74        1.67  2.25  ...       1       0       0
151    12.79        2.67  2.48  ...       0       0       1
63     12.37        1.13  2.16  ...       0       1       0
55     13.56        1.73  2.46  ...       1       0       0
123    13.05        5.80  2.13  ...       0       1       0
..       ...         ...   ...  ...     ...     ...     ...
53     13.77        1.90  2.68  ...       1       0       0
139    12.84        2.96  2.61  ...       0       0       1
128    12.37        1.63  2.30  ...       0       1       0
34     13.51        1.80  2.65  ...       1       0       0
28     13.87        1.90  2.80  ...       1       0       0

[142 rows x 16 columns]

In [11]:
train_stats = train_dataset.describe()
train_stats

          Alcohol  Malic acid         Ash  ...      Type 1      Type 2      Type 3
count  142.000000  142.000000  142.000000  ...  142.000000  142.000000  142.000000
mean    13.024507    2.302113    2.347676  ...    0.345070    0.394366    0.260563
std      0.806539    1.135063    0.271937  ...    0.477074    0.490444    0.440496
min     11.410000    0.740000    1.360000  ...    0.000000    0.000000    0.000000
25%     12.370000    1.540000    2.200000  ...    0.000000    0.000000    0.000000
50%     13.050000    1.845000    2.350000  ...    0.000000    0.000000    0.000000
75%     13.705000    2.927500    2.540000  ...    1.000000    1.000000    1.000000
max     14.830000    5.800000    3.230000  ...    1.000000    1.000000    1.000000

[8 rows x 16 columns]

In [12]:
train_labels=train_dataset[['Type 1','Type 2','Type 3']]

In [13]:
test_labels=test_dataset[['Type 1','Type 2','Type 3']]

In [14]:
def build_model():
  model = keras.Sequential([
    layers.Dense(64, activation=tf.nn.relu, input_shape=[len(train_dataset.keys())]),
    layers.Dense(64, activation=tf.nn.relu),
    layers.Dense(3,  activation=tf.nn.softmax)
  ])


  model.compile(loss='categorical_crossentropy', 
                      optimizer='adam', 
                      metrics=['accuracy'])
  return model

In [15]:
model=build_model()

In [16]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 64)                1088
_________________________________________________________________
dense_1 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_2 (Dense)              (None, 3)                 195
=================================================================
Total params: 5,443
Trainable params: 5,443
Non-trainable params: 0
_________________________________________________________________

In [17]:
class PrintDot(keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs):
    if epoch % 100 == 0: print('')
    print('.', end='')

In [18]:
train_dataset.pop('Type 1')
train_dataset.pop('Type 2')
train_dataset.pop('Type 3')
test_dataset.pop('Type 1')
test_dataset.pop('Type 2')
test_dataset.pop('Type 3')

     Alcohol  Malic acid   Ash  ...  Type 1  Type 2  Type 3
54     13.74        1.67  2.25  ...       1       0       0
151    12.79        2.67  2.48  ...       0       0       1
63     12.37        1.13  2.16  ...       0       1       0
55     13.56        1.73  2.46  ...       1       0       0
123    13.05        5.80  2.13  ...       0       1       0
..       ...         ...   ...  ...     ...     ...     ...
53     13.77        1.90  2.68  ...       1       0       0
139    12.84        2.96  2.61  ...       0       0       1
128    12.37        1.63  2.30  ...       0       1       0
34     13.51        1.80  2.65  ...       1       0       0
28     13.87        1.90  2.80  ...       1       0       0

[142 rows x 16 columns]

In [19]:

history = model.fit(
 train_dataset, train_labels,
  epochs=100, validation_split = 0.2, verbose=0
  ,callbacks=[PrintDot()])

....................................................................................................

In [20]:
hist = pd.DataFrame(history.history)
hist['epoch'] = history.epoch
hist.tail()

        loss  accuracy  val_loss  val_accuracy  epoch
95  0.354624  0.893805  0.084689      0.965517     95
96  0.371951  0.911504  0.115297      0.965517     96
97  0.336019  0.858407  0.111262      1.000000     97
98  0.451561  0.858407  0.215153      0.965517     98
99  0.271764  0.955752  0.257871      0.862069     99

In [21]:
early_stop = keras.callbacks.EarlyStopping(monitor='val_loss', patience=10)

history = model.fit(
 train_dataset, train_labels,
  epochs=100, validation_split = 0.2, verbose=0
  ,callbacks=[early_stop,PrintDot()])

...............................

In [22]:
test_loss, test_acc = model.evaluate(test_dataset, test_labels)

2/2 [==============================] - 0s 3ms/step - loss: 0.2835 - accuracy: 0.8889

In [23]:
predictions=model.predict(test_dataset)

In [29]:
predictions[0]

array([0.99682486, 0.00153623, 0.00163896], dtype=float32)

In [30]:
test_labels=np.array(test_labels)

In [27]:
test_labels[0]

array([1, 0, 0])

In [31]:
np.argmax(predictions[0])

0